<div class="text-center">
  <h3>Groups</h3>
  <hr>
  <div class="panel panel-info text-left" *ngFor="let group of groups">
    <div class="panel-heading">{{ group.title }}</div>
    <div class="panel-body">
      <div class="media">

        <div class="media-body">
          <p>{{ group.description | subString }}</p>
        </div>
      </div>
      <div class="text-right">
        <a (click)="onSelect(group)" (click)="gotoGroupPage()"><button type="button" class="btn btn-warning">Group page</button></a>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a routerLink="/template/create-group" routerLinkActive="active">
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon glyphicon-plus"></span>
        Add group
      </button>
    </a>
  </div>
</div>