<div class="text-center">
  <h3>Meetings</h3>
  <hr>
  <div class="text-center">
    <div class="panel panel-info text-left" *ngFor="let meeting of meetings">
      <div class="panel-heading">{{ meeting.title }}</div>
      <div class="panel-body">
        <div>
          <p>{{ meeting.description | subString }}</p>
        </div>
        <div class="text-right">
          <a (click)="onSelect(meeting)" (click)="gotoMeetingPage()" ><button type="button" class="btn btn-warning">Meeting</button></a>
        </div>
      </div>
    </div>
  </div>
</div>