<div class="media" *ngIf="group">
    <div class="media-body">
        <div class="row">
            <div class="text-center">
                <h3> {{ group.title }} </h3>

            </div>
        </div>
        <hr>
        <div>
            <div class="col-sm-8">
                <kbd>Create by: {{ group.creator_name }}</kbd>
            </div>
            <div class="col-sm-4 text-right">
                <a *ngIf="group.creator_id == currentUser['_id']" class="text-right">
                      <button type="button" class="btn-xs btn-danger" data-toggle="modal" data-target="#myModalDelete"><span class="glyphicon glyphicon-remove"></span> Remove group</button>
            </a>
            </div>
        </div>

        <br><br>

        <!-- Modal borrado -->
        <div id="myModalDelete" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete {{ group.title }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete this group?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteGroup(group['_id'])">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>

        <p> {{ group.description }} </p>
        <br>

        <div class="panel panel-info text-center ">
            <div class="panel-heading">Members</div>
            <div class="panel-body text-center">
                <div class="">
                    <div class="text-center" style="display: inline-block" *ngFor="let user of users">
                        <div class="text-center">
                            <a style="cursor: pointer; margin-left: 10px" (click)="onSelect(user)" (click)="gotoProfile()">
                            <img src="img/avatar.png" alt="avatar_meetlanguages" class="imp-responsive4 membersGroup" id="avatar" title="" data-toggle="popover" data-content="Language I want to learn: English Language: Spanish" data-trigger="hover" data-original-title="Nombre Apellido"></a>
                        </div>
                        <div class="text-center text-muted medium">
                            {{user.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-left" *ngIf="user">
            <button type="button" class="btn btn-primary" *ngIf="!userInLikes(currentUser['_id'])" (click)="like(currentUser)">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                 Like! <span class="badge">{{ group.likes | length }}</span>
            </button>

            <button type="button" class="btn btn-primary" *ngIf="userInLikes(currentUser['_id'])" (click)="disLike(currentUser)">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                 Like! <span class="badge">{{ group.likes | length }}</span>
            </button>

            <!-- Boton que despliega la caja de comentarios -->
            <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#comments">
                      Comments
                    </button>
            <a *ngIf="userInGroup(group['_id'])" (click)="leaveGroup(group)">
                      <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span> leave group</button>
            </a>
            <a *ngIf="!userInGroup(group['_id'])" (click)="joinGroup(group)">
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModalJoin"><span class="glyphicon glyphicon-plus"></span> join group</button>
            </a>

            <!-- Modal Join -->
            <div id="myModalJoin" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Congratulations!!</h4>
                        </div>
                        <div class="modal-body">
                            <p>Now you are a member of "{{ group.title }}"</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Caja de comentarios -->
            <div id="comments" class="collapse">
                <div class="well">
                    <textarea class="form-control noresize" rows="4" id="comments"></textarea>
                    <div class=""><br>
                        <!-- Comentarios -->
                        <div class="media">
                            <div class="media-left">
                                <img src="img/avatar.png" class="media-object" style="width:45px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.
                                    <!-- Boton para poder comentar -->
                                    <button type="button" class="btn btn-warning  btn-xs" data-toggle="collapse" data-target="#comment">
                                              Responder
                                            </button>
                                </p>
                                <div id="comment" class="collapse">
                                    <div class="well container-fluid">
                                        <div class="col-sm-2">
                                            <img src="img/avatar.png" class="media-object" style="width:45px">
                                        </div>
                                        <div class="col-sm-10">
                                            <textarea class="form-control noresize" rows="2" id="comment"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nested media object -->
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/avatar.png" class="media-object" style="width:45px">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">John Doe <small><i>Posted on February 20, 2016</i></small></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua.
                                            <!-- Boton para poder comentar -->
                                            <button type="button" class="btn btn-warning  btn-xs" data-toggle="collapse" data-target="#comment2">
                                                    Responder
                                                  </button>
                                        </p>
                                        <div id="comment2" class="collapse">
                                            <div class="well container-fluid">
                                                <div class="col-sm-2">
                                                    <img src="img/avatar.png" class="media-object" style="width:45px">
                                                </div>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control noresize" rows="2" id="comment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Nested media object -->
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="img/avatar.png" class="media-object" style="width:45px">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">John Doe <small><i>Posted on February 21, 2016</i></small></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua.
                                                    <!-- Boton para poder comentar -->
                                                    <button type="button" class="btn btn-warning  btn-xs" data-toggle="collapse" data-target="#comment3">
                                                            Responder
                                                          </button>
                                                </p>
                                                <div id="comment3" class="collapse">
                                                    <div class="well container-fluid">
                                                        <div class="col-sm-2">
                                                            <img src="img/avatar.png" class="media-object" style="width:45px">
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control noresize" rows="2" id="comment"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- Nested media object -->
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/avatar.png" class="media-object" style="width:45px">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Jane Doe <small><i>Posted on February 20, 2016</i></small></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.
                                                <!-- Boton para poder comentar -->
                                                <button type="button" class="btn btn-warning  btn-xs" data-toggle="collapse" data-target="#comment4">
                                                        Responder
                                                      </button>
                                            </p>
                                            <div id="comment4" class="collapse">
                                                <div class="well container-fluid">
                                                    <div class="col-sm-2">
                                                        <img src="img/avatar.png" class="media-object" style="width:45px">
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control noresize" rows="2" id="comment"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Nested media object -->
                            <div class="media">
                                <div class="media-left">
                                    <img src="img/avatar.png" class="media-object" style="width:45px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Jane Doe <small><i>Posted on February 19, 2016</i></small></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.
                                        <!-- Boton para poder comentar -->
                                        <button type="button" class="btn btn-warning  btn-xs" data-toggle="collapse" data-target="#comment5">
                                                Responder
                                              </button>
                                    </p>
                                    <div id="comment5" class="collapse">
                                        <div class="well container-fluid">
                                            <div class="col-sm-2">
                                                <img src="img/avatar.png" class="media-object" style="width:45px">
                                            </div>
                                            <div class="col-sm-10">
                                                <textarea class="form-control noresize" rows="2" id="comment"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>