  <div id="profilePanel" class="well">
    <h3>Hello Raul!</h3>
    <hr>
    <img src="img/avatar.png" alt="avatar_meetlanguages" class="img-responsive3" id="avatar">
    <div class="list-group text-left" >
      <!--<a href="#" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Change avatar</a>-->
      <a href="myprofile.html" class="list-group-item">
        <span class="glyphicon glyphicon-user"></span> My profile</a>
      <a href="messages.html" class="list-group-item">
        <span class="glyphicon glyphicon-envelope"></span> Messages <span class="badge">3</span></a>
      <a href="notifications.html" class="list-group-item">
        <span class="glyphicon glyphicon-globe"></span> Notifications<span class="badge">2</span></a>
      <a href="myfriends.html" class="list-group-item">
        <span class="glyphicon glyphicon-th-list"></span> My Friends</a>
      <a href="mygroups.html" class="list-group-item">
        <span class="glyphicon glyphicon-th-list"></span> My Groups</a>
    </div>
  </div>
