  <div id="profilePanel" class="well">
    <h3>Hello {{currentUser.name}}</h3>
    <hr>
    <img src={{avatarPath}} (error)="this.avatarPath=this.imgS.getDefaultAvatarPath();" alt="avatar_meetlanguages" class="img-responsive3" id="avatar">
    <div class="list-group text-left" >
      <!--<a href="#" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Change avatar</a>-->
      <a style="cursor: pointer" (click)="gotoProfile()" class="list-group-item">
        <span class="glyphicon glyphicon-user"></span> My profile</a>
      <a routerLink="/template/messages" routerLinkActive="active" class="list-group-item">
        <span class="glyphicon glyphicon-envelope"></span> Messages <span class="badge">{{ currentUser.messages.length }}</span></a>
      <a routerLink="/template/notifications" routerLinkActive="active" class="list-group-item">
        <span class="glyphicon glyphicon-globe"></span> Notifications<span class="badge">{{ currentUser.notifications }}</span></a>
      <a routerLink="/template/my-friends" routerLinkActive="active" class="list-group-item">
        <span class="glyphicon glyphicon-th-list"></span> My Friends</a>
      <a routerLink="/template/my-groups" routerLinkActive="active" class="list-group-item">
        <span class="glyphicon glyphicon-th-list"></span> My Groups</a>
    </div>
  </div>
