<div class="text-center">
        <div>
          <h3>While you were offline:</h3>
          <hr>
          <a href="profile.html">
          <div class="well">
            <b>Alfonso Mendoza</b> has befriended <b>Michael Douglas</b>!
            <div class="text-right">
              <small><i>February 20, 2016</i></small>
            </div>
          </div>
        </a>
        <a href="group.html">
          <div class ="well">
            <b>Roy Dukovsky</b> has joined the group <b>LudoSpain</b>. Click here to check it out!
            <div class="text-right">
              <small><i>February 19, 2016</i></small>
            </div>
          </div>
          </a>
          <a href="search.html">
            <div class ="well">
              <b>324</b> new English talkers have joined <b>MeetLanguajes</b>. Time meet some of them!
              <div class="text-right">
                <small><i>February 18, 2016</i></small>
              </div>
            </div>
          </a>
          <a href="meeting.html">
            <div class ="well">
              Incoming meeting in <b>Segovia</b>. Are you coming? :-)
              <div class="text-right">
                <small><i>February 18, 2016</i></small>
              </div>
            </div>
          </a>
        </div>
      </div>