<div class="text-center">
    <h3>Search people</h3>
    <hr>
    <form>

        <div class="form-group col-sm-12 ">
            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <label for="nativeLanguage">Native language:</label>
                <select class="form-control" id="nativeLanguage" name="nat_lang" [(ngModel)]="userToSearch.nat_lang">
               <option *ngFor="let c of lang_values" [selected]="userToSearch.nat_lang == c">{{c}}</option>
            </select>
            </div>
            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <label for="languageLearn">Language I want to learn:</label>
                <select class="form-control" id="languageLearn" name="lang_learn" [(ngModel)]="userToSearch.lang_learn">
               <option *ngFor="let c of lang_values" [selected]="userToSearch.lang_learn == c" >{{c}}</option>
            </select>
            </div>

            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <label for="sex" class="col-sm-3">Sex: </label>
                <label class="col-sm-2"><input type="radio" name="sex" [(ngModel)]="userToSearch.sex" [checked]="userToSearch.sex == 'M'" name="sex" value="male"> Man</label>
                <label class="col-sm-3"><input type="radio" name="sex" [checked]="userToSearch.sex == 'F'" [(ngModel)]="userToSearch.sex" name="sex" value="female"> Woman</label>
            </div>
        </div>



        <div class="col-sm-11 text-right">
            <button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#advance">Advanced search</button>
        </div>
        <div id="advance" class="collapse">
            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <label for="occupation">Occupation:</label>
                <select class="form-control" id="occupation" name="occupation" [(ngModel)]="userToSearch.occupation">
               <option *ngFor="let c of occupation_values" [selected]="userToSearch.occupation == c" >{{c}}</option>
            </select>
            </div>

            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <div>
                    <label for="literature">Literature:</label>
                </div>
                <div class="col-sm-4" *ngFor="let l of literature">
                    <div class="checkbox">
                        <label><input name="literature" type="checkbox" value="{{l.name}}" [checked]="userToSearch.isChecked" (click)="userToSearch.isChecked = !userToSearch.isChecked">{{ l.name }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <div>
                    <label for="music">Music:</label>
                </div>
                <div class="col-sm-4" *ngFor="let m of music">
                    <div class="checkbox">
                        <label><input name="music" type="checkbox" value="{{m.name}}" [checked]="m.isChecked" (click)="m.isChecked = !m.isChecked">{{ m.name }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <div>
                    <label for="films">Films:</label>
                </div>
                <div class="col-sm-4" *ngFor="let f of films">
                    <div class="checkbox">
                        <label><input name="films" type="checkbox" value="{{f.name}}" [checked]="f.isChecked" (click)="f.isChecked = !f.isChecked">{{ f.name }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <div>
                    <label for="series">Series:</label>
                </div>
                <div class="col-sm-4" *ngFor="let s of series">
                    <div class="checkbox">
                        <label><input name="series" type="checkbox" value="{{s.name}}" [checked]="s.isChecked" (click)="s.isChecked = !s.isChecked">{{ s.name }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <div>
                    <label for="activities">Activities:</label>
                </div>
                <div class="col-sm-4" *ngFor="let a of activities">
                    <div class="checkbox">
                        <label><input name="activities" type="checkbox" value="{{a.name}}" [checked]="a.isChecked" (click)="a.isChecked = !a.isChecked">{{ a.name }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-offset-1 col-sm-10 well">
                <div>
                    <label for="sports">Sports:</label>
                </div>
                <div class="col-sm-4" *ngFor="let s of sports">
                    <div class="checkbox">
                        <label><input name="sports" type="checkbox" value="{{s.name}}" [checked]="s.isChecked" (click)="s.isChecked = !s.isChecked">{{ s.name }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary" (click)="searchUsers()">Find!</button>
            </div>
        </div>

    </form>
</div>