<div class="text-center">
  <h3 class="text-center">Private messages</h3>
  <hr>
  <!--FOR-->
  <div *ngFor="let c of user.messages " class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class="media-left">
            <a href="profile.html">
              <img src="img/avatar.png" alt="avatar_meetlanguages" class="media-object" style="width:60px" id="avatar" title="Ivanna Vilnanka"
                data-toggle="popover" data-content="sgsdfgsd" data-trigger="hover">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ message.owner }}</h4>
            <p><br>{{ user.messages }} nuevos mensajes</p>
          </div>
          <div class="media-right">
            <br>
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#messages">
                            Read more
                        </button>
          </div>
        </h3>
      </div>
      <div id="messages" class="collapse">
        <div class="well" style="margin-bottom: 0px;">
          <div class="media-left">
            <a href="profile.html">
              <img src="img/avatar.png" class="media-object" style="width:45px">
            </a>
          </div>
          <div class="media-body">
            <textarea class="form-control noresize" rows="2" id="comment" [(ngModel)]="message.content"></textarea>
          </div>
          <div class="media-right">
            <br><button type="button" class="btn btn-warning">
                            Send
                        </button>
          </div>
          <br>
          <hr>
          <div class="media">
            <div class="media-left">
              <a href="profile.html">
                <img src="img/avatar.png" alt="avatar_meetlanguages" class="media-object" style="width:60px" id="avatar" title="Ivanna Vilnanka"
                  data-toggle="popover" data-content="sgsdfgsd" data-trigger="hover">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ivanna Vilnanka<small><i> Sent on February 20, 2016</i></small></h4>
              <p>Hi, it's me again. Can you answer me as soon as posible, please?</p>
            </div>
          </div>
          <br>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>