
        <!-- Comienzo del panel de acceso a meetlanguages, contiene panel de registro y login -->
        <div class="access">
            <div class="text-center title">
                <p class="well col-sm-12" id="title">MEETLANGUAGES</p>
            </div>
            <div class="accessForm col-sm-offset-2 col-sm-8">
                <div class="col-sm-7">
                    <div class="text-center">
                        <h2>Register</h2>
                    </div>
                    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nat_lang.valid }">
                            <label for="nat_lang">Native language:</label>
                            <input type="text" class="form-control" name="nat_lang" [(ngModel)]="model.nat_lang" #nat_lang="ngModel" required />
                            <div *ngIf="f.submitted && !nat_lang.valid" class="help-block">Native language is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lang_learn.valid }">
                            <label for="lang_learn">Language I want to learn:</label>
                            <input type="text" class="form-control" name="lang_learn" [(ngModel)]="model.lang_learn" #lang_learn="ngModel" required />
                            <div *ngIf="f.submitted && !lang_learn.valid" class="help-block">Language to learn is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Register</button>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>

                <login></login>
            </div>
        </div>

        <!-- Comienzo de las diferentes secciones de la pagina principal-->
        <div class="secciones">
            <!-- Seccion Join Search Chat -->
            <div class="text-center" id="joinSearchChat">
                <div class="col-sm-1 col-sm-offset-1">
                    <img src="/public/img/world-view.png" alt="" class=" img-responsive">
                    <h2>JOIN!</h2>
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                    <img src="/public/img/right-black-arrow.png" alt="" class=" img-responsive">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                    <img src="/public/img/lens.png" alt="" class=" img-responsive">
                    <h2>SEARCH!</h2>
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                    <img src="/public/img/right-black-arrow.png" alt="" class=" img-responsive">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                    <img src="/public/img/envelope.png" alt="" class="img-responsive">
                    <h2>CHAT!</h2>
                </div>
            </div>

            <!-- Seccion TEAM, contiene imagenes de cada uno y descripcion -->
            <div class="text-center" id="team">
                <h1>Team</h1>
                <div class="team col-sm-12">
                    <div class="col-sm-3">
                        <img class="img-responsive" src="/public/img/avatar.png">
                        <h2>Antonio</h2>
                        <h4>Email: aaaaa@aaaaa.com</h4>
                        <h4>Phone: +34 231 23 12 23</h4>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-responsive" src="/public/img/avatar.png">
                        <h2>Javier</h2>
                        <h4>Email: aaaaa@aaaaa.com</h4>
                        <h4>Phone: +34 231 23 12 23</h4>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-responsive" src="/public/img/avatar.png">
                        <h2>Oliver</h2>
                        <h4>Email: aaaaa@aaaaa.com</h4>
                        <h4>Phone: +34 231 23 12 23</h4>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-responsive" src="/public/img/avatar.png">
                        <h2>Raúl</h2>
                        <h4>Email: aaaaa@aaaaa.com</h4>
                        <h4>Phone: +34 231 23 12 23</h4>
                    </div>
                </div>
            </div>

            <!-- Seccion meetings, contiene una imagen y una descripcion de los meetings -->
            <div class="text-center" id="meetings">
                <div class="col-sm-12">
                    <h1>Meetings</h1>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <p> Do you want to put into practice the language you are learning? Access our "meetings" in which we inform you of the next scheduled meetings, find out when and where will take place. These meetings are free and usually organized by our
                    users or people you trust. Don't wait any longer! Look for the nearest and go!
                </p>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                     <img src="/public/img/caf.jpg" class="img-responsive img-circle" alt="cafeteria">
                </div>
            </div>

            <!-- Seccion Contact, contiene un formulario de contacto -->
            <div class="text-center" id="contact">
                <h1>Contact</h1>
                <div>
                    <form class="contact">
                        <div class="form-group col-sm-offset-1 col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                        </div>
                        <div class="form-group col-sm-offset-1 col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                        </div>
                        <div class="form-group col-sm-offset-1 col-sm-10">
                            <input type="text" class="form-control" id="subjet" placeholder="Subjet">
                        </div>
                        <div class="form-group col-sm-offset-1 col-sm-10">
                            <textarea class="form-control noresize" rows="6" id="aboutMe" placeholder="Your Message"></textarea>
                        </div>
                        <div class="col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Comiendo del FOOTER -->
        <footer class="container-fluid text-center">
            <p>© 2017 M e e t L a n g u a g e s</p>
        </footer>