<div *ngIf="user">
  <div>
    <div class="text-center">
      <h3>My profile</h3>
    </div>
    <br><div>
          <div class="media">
            <div class="media-left">
              <img src="img/avatar.png" alt="avatar_meetlanguages" class="media-object" id="avatar" title="Nombre Apellido">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{ user.name }}</h4>
              <p>{{ user.description }}</p>
            </div>
          </div>
        <hr>
        </div>
        <div class="text-left">
            <button type="button" class="btn btn-primary" (click)="gotoEditProfile()">
              <span class="glyphicon glyphicon glyphicon-edit"></span>
                Edit profile
            </button>
        </div>
        <div>
          <div class="media">
            <div class="media-body">
              <h2>About me:</h2>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Birthday</td>
                    <td>03/04/1990</td>
                  </tr>
                  <tr>
                    <td>Sex</td>
                    <td>Male</td>
                  </tr>
                  <tr>
                    <td>Country</td>
                    <td>Spain</td>
                  </tr>
                  <tr>
                    <td>Native Language</td>
                    <td>Spanish</td>
                  </tr>
                  <tr>
                    <td>Language I want to learn</td>
                    <td>German</td>
                  </tr>
                  <tr>
                    <td>Skype</td>
                    <td>asdasd@asd.com</td>
                  </tr>
                  <tr>
                    <td>Occupation</td>
                    <td>Student</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div>
          <div class="media">
            <div class="media-body">
              <h2>What I like:</h2>
              <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#literature">Literature</a></li>
                <li><a data-toggle="tab" href="#music">Music</a></li>
                <li><a data-toggle="tab" href="#films">Films</a></li>
                <li><a data-toggle="tab" href="#series">Series</a></li>
                <li><a data-toggle="tab" href="#sports">Sports</a></li>
                <li><a data-toggle="tab" href="#activities">Activities</a></li>
              </ul>
              <br>
              <div class="tab-content">
                <div id="literature" class="tab-pane fade">
                  <ul>
                    <li>Tales</li>
                    <li>Terror</li>
                    <li>Comic</li>
                  </ul>
                </div>
                <div id="music" class="tab-pane fade">
                  <ul>
                    <li>Pop</li>
                    <li>Rap</li>
                    <li>Rock</li>
                  </ul>
                </div>
                <div id="films" class="tab-pane fade">
                  <ul>
                    <li>Drama</li>
                    <li>Animation</li>
                    <li>Thriller</li>
                  </ul>
                </div>
                <div id="series" class="tab-pane fade">
                  <ul>
                    <li>Breaking bad</li>
                    <li>The walking dead</li>
                    <li>House</li>
                  </ul>
                </div>
                <div id="sports" class="tab-pane fade">
                  <ul>
                    <li>Football</li>
                    <li>Basketball</li>
                    <li>Tennis</li>
                  </ul>
                </div>
                <div id="activities" class="tab-pane fade">
                  <ul>
                    <li>Science</li>
                    <li>Sports</li>
                    <li>Astronomy</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
</div>
</div>
