<div *ngIf="user"> 
  <div class="text-center">
          <h3>Edit profile</h3>
          <hr>
        </div>
        <!-- Formulario de edicion del perfil -->
        <form  method="POST">
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="user.name" placeholder="Enter name" >
          </div>
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="user.email">
          </div>
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="pwd">New password:</label>
            <input type="password" class="form-control" name="password" id="pwd"  placeholder="Enter password">
          </div>
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="birthday" >Birthday: </label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="user.birthday">
          </div>
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="sex" class="col-sm-3">Sex: </label>
            <label class="col-sm-2"><input type="radio" name="sex" [(ngModel)]="user.sex" [checked]="user.sex == 'M'" name="sex" value="male"> Man</label>
            <label class="col-sm-3"><input type="radio" name="sex" [checked]="user.sex == 'F'" [(ngModel)]="user.sex" name="sex" value="female"> Woman</label>
          </div>
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="country">Country:</label>
            <select class="form-control" id="country" name="country" [(ngModel)]="user.country" >
              <option *ngFor="let c of country_values" [selected]="user.country == c">{{c}}</option>
            </select>
          </div>
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="nativeLanguage">Native language:</label>
            <select class="form-control" id="nativeLanguage" name="nat_lang" [(ngModel)]="user.nat_lang" >
               <option *ngFor="let c of lang_values" [selected]="user.nat_lang == c">{{c}}</option>
            </select>
          </div>
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="languageLearn">Language I want to learn:</label>
            <select class="form-control" id="languageLearn" name="lang_learn" [(ngModel)]="user.lang_learn">
               <option *ngFor="let c of lang_values" [selected]="user.lang_learn == c" >{{c}}</option>
            </select>
          </div>
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="skype">Skype: </label>
            <input type="text" class="form-control" name="skype" placeholder="Enter skype" [(ngModel)]="user.skype">
          </div>


          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="occupation">Occupation:</label>
            <select class="form-control" id="occupation" name="occupation" [(ngModel)]="user.occupation">
               <option *ngFor="let c of occupation_values" [selected]="user.occupation == c" >{{c}}</option>
            </select>
          </div>
          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <label for="description" >About me:</label><br>
            <textarea class="form-control noresize" rows="6" name="description" id="aboutMe" [(ngModel)]="user.description"></textarea>
          </div>

          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="literature">Literature:</label>
            </div>
            <div class="col-sm-4"  *ngFor="let l of user.literature">
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="{{l.name}}" [checked]="l.isChecked" (change)="l.isChecked = !l.isChecked">{{ l.name }}</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="music">Music:</label>
            </div>
            <div class="col-sm-4" *ngFor="let m of user.music">
              <div class="checkbox" >
                <label><input name="music" type="checkbox" value="{{m.name}}" [checked]="m.isChecked" (change)="m.isChecked = !m.isChecked">{{ m.name }}</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="films">Films:</label>
            </div>
            <div class="col-sm-4" *ngFor="let f of user.films">
              <div class="checkbox" >
                <label><input name="films" type="checkbox" value="{{f.name}}" [checked]="f.isChecked" (change)="f.isChecked = !f.isChecked">{{ f.name }}</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="series">Series:</label>
            </div>
            <div class="col-sm-4" *ngFor="let s of user.series">
              <div class="checkbox" >
                <label><input name="series" type="checkbox" value="{{s.name}}" [checked]="s.isChecked" (change)="s.isChecked = !s.isChecked">{{ s.name }}</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="activities">Activities:</label>
            </div>
            <div class="col-sm-4" *ngFor="let a of user.activities">
              <div class="checkbox" >
                <label><input name="activities" type="checkbox" value="{{a.name}}" [checked]="a.isChecked" (change)="a.isChecked = !a.isChecked">{{ a.name }}</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="sports">Sports:</label>
            </div>
            <div class="col-sm-4" *ngFor="let s of user.sports">
              <div class="checkbox" >
                <label><input name="sports" type="checkbox" value="{{s.name}}" [checked]="s.isChecked" (change)="s.isChecked = !s.isChecked">{{ s.name }}</label>
              </div>
            </div>
          </div>

        <!--  <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="literature">Literature:</label>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="self-help" [(ngModel)]="user.literature[0].isChecked">Self-help</label>
              </div>
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="tales" [(ngModel)]="user.literature[1].isChecked">Tales</label>
              </div>
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="legens" [checked]="user.literature[2].isChecked">Legens</label>
              </div>
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="religion" [(ngModel)]="user.literature[3].isChecked">Religion</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="science Fiction" [(ngModel)]="user.literature[4].isChecked">Science Fiction</label>
              </div>
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="philosophy" [(ngModel)]="user.literature[5].isChecked">Philosophy</label>
              </div>
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="novels" [(ngModel)]="user.literature[6].isChecked">Novels</label>
              </div>
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="terror" [(ngModel)]="user.literature[7].isChecked">Terror</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="comic" [(ngModel)]="user.literature[8].isChecked">Comic</label>
              </div>
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="sciences" [(ngModel)]="user.literature[9].isChecked">Sciences</label>
              </div>
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="poetries" [(ngModel)]="user.literature[10].isChecked">Poetries</label>
              </div>
              <div class="checkbox">
                <label><input name="literature" type="checkbox" value="memories" [(ngModel)]="user.literature[11].isChecked"> Memories</label>
              </div>
            </div>
          </div> -->

          <!-- <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="literature">Music:</label>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Rock">Rock</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Pop">Pop</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Reggae">Reggae</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Ska"  >Ska</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Latin">Latin</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Flamenco"  >Flamenco</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Trap">Trap</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Trance"  >Trance</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Classical">Classical</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Alternative">Alternative</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Blues">Blues</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Country"  >Country</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Electronic">Electronic</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Hip Hop / Rap"  >Hip Hop/Rap</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Cumbia">Cumbia</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Salsa"  >Salsa</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Dance"  >Dance</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Drum and Bass">Drum and Bass</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Dubstep">Dubstep</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Techno"  >Techno</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Instrumental">Instrumental</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Jazz"  >Jazz</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="R&B/Soul">R&B/Soul</label>
              </div>
              <div class="checkbox">
                <label><input name="music" type="checkbox" value="Heavy"  >Heavy</label>
              </div>
            </div>
          </div>
          -->

          <!-- <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="film" class="">Film:</label>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Action">Action</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Science Fiction"  >Science Fiction</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Drama"  >Drama</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Musical">Musical</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Romantic">Romantic</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Animation"  >Animation</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Fantasy">Fantasy</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Terror"  >Terror</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Thriller"  >Thriller</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Adventure">Adventure</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Western">Western</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Mistery"  >Mistery</label>
              </div>
              <div class="checkbox">
                <label><input name="film" type="checkbox" value="Police">Police</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="series" class="">Series:</label>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="Breaking bad">Breaking bad</label>
              </div>
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="Person of interest"  >Person of interest</label>
              </div>
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="Gotham">Gotham</label>
              </div>
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="Arrow"  >Arrow</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="Shameles">Shameles</label>
              </div>
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="Game of Thrones">Game of Thrones</label>
              </div>
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="The walking dead">The walking dead</label>
              </div>
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="House"  >House</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="How I met your mother">How I met your mother</label>
              </div>
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="Big Bang theory"  >Big Bang theory</label>
              </div>
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="Flash">Flash</label>
              </div>
              <div class="checkbox">
                <label><input name="series"  type="checkbox" value="Vikings">Vikings</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="activities" class="">Activities:</label>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Learn languages"  >Learn languages</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Auto / Motorbike"  >Auto / Motorbike</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Science"  >Science</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Sports"  >Sports</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Shopping">Shopping</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Theatre">Theatre</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Astronomy"  >Astronomy</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Bar / Clubs">Bar / Clubs</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Games">Games</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="TV"  >TV</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Nature">Nature</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Meet friends">Meet friends</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Cooking"  >Restaurants</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Museums / Exhibits">Museums / Exhibits</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Music"  >Music</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Travels"  >Travels</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Astrology">Astrology</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Dance">Dance</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Movies"  >Movies</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Internet"  >Internet</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Crafts">Crafts</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Computers"  >Computers</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Technology">Technology</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Reading"  >Reading</label>
              </div>
              <div class="checkbox">
                <label><input name="activities" type="checkbox" value="Cooking">Cooking</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-offset-1 col-sm-10 well">
            <div>
              <label for="sports" class="">Sports:</label>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Martial arts">Martial arts</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Athletics">Athletics</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Motoring"  >Motoring</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Badminton"  >Badminton</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Golf">Golf</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Handball">Handball</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Hockey">Hockey</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Cycling"  >Cycling</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Extreme Sports"  >Extreme Sports</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Riding">Riding</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Skiing">Skiing</label>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Dance"  >Dance</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Basket">Basket</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Baseball">Baseball</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Billiards"  >Billiards</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Swimming">Swimming</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Navigation">Navigation</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Skate"  >Skate</label>
              </div>
               <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Table tennis">Table tennis</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Volleyball">Volleyball</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Yoga"  >Yoga</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Soccer">Soccer</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Water-skiing">Water-skiing</label>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Boxing">Boxing</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Diving"  >Diving</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Hike">Hike</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Hunting"  >Hunting</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Squash">Squash</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Surf">Surf</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Tennis"  >Tennis</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Football">Football</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Gymnastics">Gymnastics</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Gym"  >Gym</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="BMX">BMX</label>
              </div>
              <div class="checkbox">
                <label><input name="sports" type="checkbox" value="Others">Others</label>
              </div>
            </div>
          </div> -->

          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
              <button type="submit" class="btn btn-default" (click)="save()">Update</button>
              <button type="submit" class="btn btn-default" (click)="gotoProfile()">Back</button>
            </div>
          </div>
        </form>
      </div>
 