<div *ngIf="user">

  <!-- Message -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Write a message</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control noresize" rows="5" id="content" [(ngModel)]="msg"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createMessage(user)">Send</button>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="text-center">
      <h3>Profile</h3>
      <hr>
    </div>
    <br>
    <div>
      <div class="media">
        <div class="avatar-profile">
          <img src="{{avatarPath}}" (error)="avatarPath=this.imgS.getDefaultAvatarPath()" alt="avatar_meetlanguages" class="img-responsive"
            id="avatar" title="Nombre Apellido">
        </div>
        <div class="media-body" style="padding-left: 15px">
          <h3 class="media-heading">{{ user.name }}</h3>
          <b>Description: </b>
          <p>{{ user.description }}</p>
        </div>
      </div>
      <hr>
    </div>
    <div class="text-left">
      <button type="button" class="btn btn-warning" *ngIf="userInRequests(user['_id'])" (click)="deleteRequest(user['_id'])">
          <span class="glyphicon glyphicon-minus"></span> cancel request
      </button>
      <button type="button" class="btn btn-danger" *ngIf="userInFriends(user['_id'])" data-toggle="modal" data-target="#myModalDelete">
          <span class="glyphicon glyphicon-minus"> </span> delete friend
      </button>

      <!-- Modal borrado -->
      <div id="myModalDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete friend</h4>
            </div>
            <div class="modal-body">
              <p>Do you really want to delete your friend <b>{{ user.name }}</b> ?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="leaveFriend(user)">Yes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>


      <button type="button" class="btn btn-primary" *ngIf="!userInFriends(user['_id']) && !userInRequests(user['_id'])" data-toggle="modal"
        data-target="#myFriendRequest" (click)="onSelect(user)">
          <span class="glyphicon glyphicon-plus"></span> add friend
      </button>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon glyphicon-envelope"></span>
              Send message
          </button>
    </div>
    <div>
      <div class="media">
        <div class="media-body">
          <h2>About me:</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Birthday</td>
                <td>{{user.birthday}}</td>
              </tr>
              <tr>
                <td>Sex</td>
                <td>{{user.sex}}</td>
              </tr>
              <tr>
                <td>Country</td>
                <td>{{user.country}}</td>
              </tr>
              <tr>
                <td>Native Language</td>
                <td>{{user.nat_lang}}</td>
              </tr>
              <tr>
                <td>Language I want to learn</td>
                <td>{{user.lang_learn}}</td>
              </tr>
              <tr>
                <td>Skype</td>
                <td>{{user.skype}}</td>
              </tr>
              <tr>
                <td>Occupation</td>
                <td>{{user.occupation}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <div class="media">
        <div class="media-body">
          <h2>What I like:</h2>
          <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#literature">Literature</a></li>
            <li><a data-toggle="tab" href="#music">Music</a></li>
            <li><a data-toggle="tab" href="#films">Films</a></li>
            <li><a data-toggle="tab" href="#series">Series</a></li>
            <li><a data-toggle="tab" href="#sports">Sports</a></li>
            <li><a data-toggle="tab" href="#activities">Activities</a></li>
          </ul>
          <br>
          <div class="tab-content">
            <div id="literature" class="tab-pane fade">
              <ul *ngFor="let l of user.literature">
                <li *ngIf="l.isChecked == true">{{l.name}}</li>
              </ul>
            </div>
            <div id="music" class="tab-pane fade">
              <ul *ngFor="let m of user.music">
                <li *ngIf="m.isChecked == true">{{m.name}}</li>
              </ul>
            </div>
            <div id="films" class="tab-pane fade">
              <ul *ngFor="let f of user.films">
                <li *ngIf="f.isChecked == true">{{f.name}}</li>
              </ul>
            </div>
            <div id="series" class="tab-pane fade">
              <ul *ngFor="let s of user.series">
                <li *ngIf="s.isChecked == true">{{s.name}}</li>
              </ul>
            </div>
            <div id="sports" class="tab-pane fade">
              <ul *ngFor="let s of user.sports">
                <li *ngIf="s.isChecked == true">{{s.name}}</li>
              </ul>
            </div>
            <div id="activities" class="tab-pane fade">
              <ul *ngFor="let a of user.activities">
                <li *ngIf="a.isChecked == true">{{a.name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Friend Request -->
  <div class="modal fade" id="myFriendRequest" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Write a message</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control noresize" rows="5" id="content" [(ngModel)]="msg"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sendRequest()">Send</button>
        </div>
      </div>
    </div>
  </div>