<div class="text-center">
  <h3>Members</h3>
  <hr>
</div>
<div class="media" *ngFor="let user of users; let i = index;">
  <div *ngIf="user['_id'] !== currentUser['_id']">
    <div class="avatar-profile">
      <img src="{{avatarPaths[i]}}" (error)="avatarPaths[i]=this.imgS.getDefaultAvatarPath();"  alt="Avatar" class="img-responsive" id="avatar" title="Nombre Apellido">
    </div>
    <div class="media-body" style="padding-left: 15px">
      <h4 class="media-heading" style="cursor: pointer"><a (click)="onSelect(user)" (click)="gotoProfile()">{{user.name}} {{user.lastName}}</a></h4>
      <p><b>Native language:</b> {{user.nat_lang}}</p>
      <p><b>Language that I want to learn:</b> {{user.lang_learn}}</p>
      <p><b>Description:</b> {{ user.description | subString}}</p>
    </div>
    <div class="text-right">
      <a *ngIf="userInFriends(user['_id'])" (click)="leaveFriend(user)">
        <button type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-minus">
          </span> delete friend</button>
      </a>
      <a *ngIf="!userInFriends(user['_id'])" (click)="joinFriend(user)">
        <button type="button" class="btn btn-primary" >
          <span class="glyphicon glyphicon-plus">
          </span> add friend</button>
      </a>
      <hr>
    </div>
  </div>
</div>
